/* Container */
.quote-container {
    margin: 50px;
    padding: 20px;
}

.quote-grid {
    padding: 35px 50px 35px 50px !important;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left */
    display: flex;
    flex-direction: column !important; 
    justify-content: space-between;
}


/* Quote Icon */
.quote-img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.quote {
    line-height: 2 !important;
}


.avatar {
    margin-top: 30px;
}

.quote-avatar {
    width: 48px !important;
    height: 48px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    float: right;
    transition: transform 0.3s ease-in-out;
}

.quote-avatar:hover {
    transform: scale(1.05); /* Slight zoom effect */
}

.avatar-name {
    font-size: 18px;
    margin: 0;
}

.bold-name {
    font-weight: bold;
    font-style: italic;
}

.display-img1 {
    width: 100%; /* Ensure it stretches horizontally */
    height: 100%; /* Ensure it stretches vertically */
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out;
}

.display-img1:hover {
    transform: scale(1.03);
}